<div class="text-xs text-[#8c8c8c] mb-2">
  <p class="mb-1 text-[#8c8c8c] text-xs">Por razones de seguridad tu contraseña debe tener las siguientes carateristicas:</p>
  <ul class="space-y-1">
    <li class="flex items-center gap-2  ">
      <span [ngClass]="(!errors.minLength && !password) ? 'w-2 h-2 rounded-full bg-green-500' : 'w-2 h-2 rounded-full border border-gray-400 bg-white'"></span>
      Mínimo 6 caracteres (letras, números y caracteres especiales).
    </li>
    <li class="flex items-center gap-2">
      <span [ngClass]="(!errors.hasNumber && !password) ? 'w-2 h-2 rounded-full bg-green-500' : 'w-2 h-2 rounded-full border border-gray-400 bg-white'"></span>
      Mínimo 1 número.
    </li>
    <li class="flex items-center gap-2">
      <span [ngClass]="(!errors.hasSpecial && !password) ? 'w-2 h-2 rounded-full bg-green-500' : 'w-2 h-2 rounded-full border border-gray-400 bg-white'"></span>
      Mínimo 1 de estos caracteres especiales !&quot;#$%&amp;/()=?&iquest;^*@‚{{ '{' }}{{ '}' }}[];:_&gt;&lt;,.-|`+.
    </li>
    <li class="flex items-center gap-2">
      <span [ngClass]="!errors.forbiddenPhrase ? 'w-2 h-2 rounded-full bg-green-500' : 'w-2 h-2 rounded-full border border-gray-400 bg-white'"></span>
      No tener la frase “100ladrillos”.
    </li>
    <li class="flex items-center gap-2">
      <span [ngClass]="!errors.repeatedChars ? 'w-2 h-2 rounded-full bg-green-500' : 'w-2 h-2 rounded-full border border-gray-400 bg-white'"></span>
      No tener mas de 3 caracteres idénticos en forma consecutiva (ej: aaa).
    </li>
    <li class="flex items-center gap-2">
      <span [ngClass]="!errors.sequential ? 'w-2 h-2 rounded-full bg-green-500' : 'w-2 h-2 rounded-full border border-gray-400 bg-white'"></span>
      No tener mas de 3 caracteres numéricos y/o letras en forma secuencial (ej: 123).
    </li>
  </ul>
</div>