<div class="max-w-md w-full  mx-4"> 
  
    <h1 class="mt-10 mb-6 font-roboto text-lg font-bold ">¿Cómo te llamas?</h1>
    <div>
        <label class="text-[#3e3e3e] mb-8 text-sm font-roboto font-roboto " for="name" >Primer nombre</label>
        <input id="name" type="text" formControlName="name" class=" max-w-[90%] mx-auto mt-3 w-full px-4 py-2 border border-gray-300 rounded-md  placeholder-gray-300 focus:outline-none focus:border-2 focus:border-sky-500  mb-6"
        placeholder="Primero nombre"> 
    </div>
    <div>
        <label class="text-[#3e3e3e] mb-8 text-sm font-roboto font-roboto " for="secondName" >Segundo nombre</label>
        <input id="secondName" type="text" formControlName="secondName" class=" max-w-[90%] mx-auto mt-3 w-full px-4 py-2 border border-gray-300 rounded-md  placeholder-gray-300 focus:outline-none focus:border-2 focus:border-sky-500  mb-6"
        placeholder="Segundo nombre(Opcional)"> 
    </div>
    <div>
        <label class="text-[#3e3e3e] mb-8 text-sm font-roboto font-roboto " for="firstLastName" >Primer Apellido</label>
        <input id="firstLastName" type="text" formControlName="firstLastName" class=" max-w-[90%] mx-auto mt-3 w-full px-4 py-2 border border-gray-300 rounded-md  placeholder-gray-300 focus:outline-none focus:border-2 focus:border-sky-500  mb-6"
        placeholder="Primer apellido"> 
    </div>
    <div>   
        <label class="text-[#3e3e3e] mb-8 text-sm font-roboto font-roboto " for="secondLastName" >Segundo Apellido</label>
        <input id="secondLastName" type="text" formControlName="secondLastName" class=" max-w-[90%] mx-auto mt-3 w-full px-4 py-2 border border-gray-300 rounded-md  placeholder-gray-300 focus:outline-none focus:border-2 focus:border-sky-500  mb-6"
        placeholder="Segundo apellido(Opcional)"> 
    </div>
    <div class="flex items-center  mt-8 mb-1 max-w-[80%]  md:max-w-[90%]   md:ml-0 justify-center text-14px ">
        <label class="text-[#3e3e3e]  font-roboto font-roboto ">¿Ya tienes tu cuenta?
        </label>
    </div>
    <div class="flex items-center max-w-[80%]  md:max-w-[90%] md:ml-0 justify-center text-14px font-bold ">
        <label class="text-[#ff5a60]    font-roboto font-roboto ">Iniciar sesión
        </label>
    </div>     
    <div class="justify-center flex space-x-5 md:space-x-8 mt-8">
          
        <button type="button" class="bg-gray-100  text-[#8c8c8c] py-3 px-8 rounded-md transition duration-300 ease-in-out focus:outline-none focus:ring-2  focus:ring-gray-200 ">
            Anterior
        </button>
        <button type="button" class=" mr-4 bg-gray-100  text-[#8c8c8c] py-3 px-8 rounded-md transition duration-300 ease-in-out focus:outline-none focus:ring-2  focus:ring-gray-200 " >
            Siguiente
        </button>
    </div>
</div>
    